<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnfocatGR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="shortcut icon" type="image/png" href="https://png.pngtree.com/png-vector/20191028/ourlarge/pngtree-game-control-line-icon-vector-png-image_1904129.jpg">
</head>

<body>
    <header>
        <div><img src="https://png.pngtree.com/png-vector/20191028/ourlarge/pngtree-game-control-line-icon-vector-png-image_1904129.jpg" alt="logo" height="100" width="100"></div>
        <div class="header">Enfocat Games Reviews</div>
    </header>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if 'user_id' in session %}
                <!-- Si el usuario está logueado, mostrar Logout y el nombre del usuario -->
                <li><a href="/profile">Profile ({{ session['username'] }})</a></li>
            {% else %}
                <!-- Si el usuario NO ha iniciado sesión, mostrar Register/Login -->
                <li><a href="/login">Register/Login</a></li>
            {% endif %}
            <li><a href="/games">Games</a></li>
        </ul>
    </nav>

    <main>
        <h1>Games</h1>

        {% if category %}
            <h2>Category: {{ category }}</h2>  <!-- Mostrar la categoría seleccionada -->
        {% endif %}

        <div id="games-container" class="games-list">
            {% if games %}
                <div class="grid-view">  <!-- Cambio: usa un div aquí -->
                    {% for game in games %}
                        <div class="game-item" id="game">
                            <h3>{{ game[1] }}</h3>  <!-- Nombre del juego -->
                            <p><strong>Category:</strong> {{ game[3] }}</p>  <!-- Categoría del juego -->
                            <p><strong>Likes:</strong> {{ game[4] }}</p>   <!-- Likes -->
                            <img src="{{ game[2] }}" alt="Game Image" width="200">  <!-- Imagen -->
                            <!-- Enlace a la página de reseñas del juego -->
                            <a id='review' href="{{ url_for('game_reviews', game_id=game[0]) }}">Ver reseñas</a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No games available in this category.</p>
            {% endif %}
        </div>

    </main>

    <footer></footer>

    <script>
        function changeView(viewType) {
            const gamesContainer = document.getElementById('games-container');
            if (viewType === 'grid') {
                gamesContainer.classList.add('grid-view');
                gamesContainer.classList.remove('list-view');
            } else {
                gamesContainer.classList.add('list-view');
                gamesContainer.classList.remove('grid-view');
            }
        }
    </script>

</body>

</html>
