<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnfocatGR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="shortcut icon" type="image/png" href="https://png.pngtree.com/png-vector/20191028/ourlarge/pngtree-game-control-line-icon-vector-png-image_1904129.jpg">
</head>

<body>
    <header>
        <div><img src="https://png.pngtree.com/png-vector/20191028/ourlarge/pngtree-game-control-line-icon-vector-png-image_1904129.jpg" alt="logo" height="100" width="100"></div>
        <div class="header">Enfocat Games Reviews</div>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {% if 'user_id' in session %}
                <li><a href="/profile">Profile ({{ session['username'] }})</a></li>
            {% else %}
                <li><a href="/login">Register/Login</a></li>
            {% endif %}
            <li><a href="/games">Games</a></li>
        </ul>
    </nav>

    <h1>Home Page</h1>
    <h2>Game Categories</h2>
    <ul >
        {% for category in categories %}
            <li><a id="categories" href="{{ url_for('games', category=category[0]) }}">{{ category[0] }}</a></li>  <!-- Enlace a los juegos de esta categoría -->
        {% else %}
            <li>No categories found.</li>
        {% endfor %}
    </ul>

    <footer></footer>
</body>

</html>
